Repository Cyber-preacher/humanode-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm -C apps/web exec eslint --max-warnings=0 --fix, pnpm -C apps/web exec prettier --write

.lintstagedrc.json:

{
  "apps/web/**/*.{js,jsx,ts,tsx}": [
    "pnpm -C apps/web exec eslint --max-warnings=0 --fix"
  ],
  "apps/web/**/*.{json,md,yml,yaml}": [
    "pnpm -C apps/web exec prettier --write"
  ]
}

chore(husky): Windows-safe lint-staged; relax ESLint in tests/mocks; simplify jest.setup
  .lintstagedrc.json
  apps/web/.eslintrc.json
  apps/web/jest.setup.ts
Due: pnpm -C apps/web exec eslint --max-warnings=0 --fix, pnpm -C apps/web exec prettier --write

refactor(test): stable Jest setup, Supabase mock, Husky v10 + lint-staged (#24)
  .husky/pre-commit
  .lintstagedrc.json
  LICENSE
  apps/web/.eslintrc.json
  apps/web/jest.config.js
  apps/web/jest.setup.ts
  apps/web/package.json
  apps/web/src/__mocks__/supabaseServer.mock.ts
  apps/web/src/app/api/lobby/messages/route.test.ts
  apps/web/src/app/api/lobby/messages/route.ts
  apps/web/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: pnpm -C apps/web exec eslint --max-warnings=0 --fix, pnpm -C apps/web exec prettier --write

Dev (#25)
  .husky/pre-commit
  .lintstagedrc.json
  LICENSE
  apps/web/.eslintrc.json
  apps/web/jest.config.js
  apps/web/jest.setup.ts
  apps/web/package.json
  apps/web/src/__mocks__/supabaseServer.mock.ts
  apps/web/src/app/api/lobby/messages/route.test.ts
  apps/web/src/app/api/lobby/messages/route.ts
  apps/web/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: pnpm -C apps/web exec eslint --max-warnings=0 --fix, pnpm -C apps/web exec prettier --write

chore(repo): add EditorConfig and Git attributes for cross-OS consistency
  .editorconfig
  .gitattributes
Due: none

chore(repo): fix .gitattributes syntax; enforce cross-OS line endings
  .editorconfig
  .gitattributes
Due: none

refactor(web): add typed env validation and wire into Supabase
  .env.example
  apps/web/src/env.ts
  apps/web/src/lib/supabase/client.ts
Due: pnpm -C apps/web exec eslint --max-warnings=0 --fix

chore(repo): fix .gitattributes; feat(web): /api/health; harden security headers
  .gitattributes
  apps/web/next.config.ts
  apps/web/src/app/api/health/route.ts
Due: pnpm -C apps/web exec eslint --max-warnings=0 --fix

refactor(web): central HTTP helpers + unify API responses
  apps/web/src/lib/http.ts
Due: pnpm -C apps/web exec eslint --max-warnings=0 --fix

refactor: final cleanups (lockfile ignore, engines, nvmrc)
  package-lock.json
  package.json
Due: none

chore(prettier): apply formatting repo-wide
  .gitignore
  apps/web/next.config.ts
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/lobby/messages/route.ts
  apps/web/src/env.ts
  apps/web/src/lib/http.ts
  apps/web/src/lib/supabase/client.ts
Due: pnpm -C apps/web exec eslint --max-warnings=0 --fix

fix(web): export getSupabaseBrowser and env; silence optional pino-pretty
  apps/web/next.config.ts
  apps/web/src/env.ts
  apps/web/src/lib/supabase/client.ts
Due: pnpm -C apps/web exec eslint --max-warnings=0 --fix

Refactor: bundle all refactoring PRs (#28)
  .editorconfig
  .env.example
  .gitattributes
  apps/web/next.config.ts
  apps/web/src/app/api/health/route.ts
  apps/web/src/env.ts
  apps/web/src/lib/http.ts
  apps/web/src/lib/supabase/client.ts
Due: pnpm -C apps/web exec eslint --max-warnings=0 --fix

Update README.md
  README.md
Due: none

Update readme on main (#38)
  README.md
Due: none
