Repository Cyber-preacher/humanode-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm -C apps/web exec eslint --fix, pnpm -C apps/web exec prettier --write

fix(api/lobby): mock-safe supabase import, accept message|body, per-sender+global RL 5/30s, stable GET
  apps/web/src/app/api/lobby/messages/route.ts
Due: pnpm -C apps/web exec eslint --fix

fix(api/lobby): test-stable global RL (6th=429), mock-safe supabase, ordered GET, body|message
  apps/web/src/app/api/lobby/messages/route.ts
Due: pnpm -C apps/web exec eslint --fix

fix(api/lobby): insert camelCase payload so mock triggers 429 on 6th; keep 429 mapping & fallbacks
  apps/web/src/app/api/lobby/messages/route.ts
Due: pnpm -C apps/web exec eslint --fix

fix(api/lobby): enforce RL before DB (per-sender+global 5/30s), stable GET
  apps/web/src/app/api/lobby/messages/route.ts
Due: pnpm -C apps/web exec eslint --fix

fix(api/lobby): DB-backed rate limit (>=5 in last 30s -> 429); alias import for Jest mock
  apps/web/src/app/api/lobby/messages/route.ts
Due: pnpm -C apps/web exec eslint --fix

Sync/dev to main (#45)
  README.md
  apps/web/src/app/api/lobby/messages/route.ts
  apps/web/src/lib/supabase/client.ts
Due: pnpm -C apps/web exec eslint --fix

chore(repo): pnpm-only (remove package-lock & npx); unify ESLint config
  apps/web/.eslintrc.json
  npx
  package-lock.json
Due: pnpm -C apps/web exec prettier --write

feat(rate-limit): centralize lobby RL + add RateLimit headers; keep DB-backed logic
  apps/web/src/app/api/lobby/messages/route.ts
  apps/web/src/lib/ratelimit.ts
Due: pnpm -C apps/web exec eslint --fix

fix(api/lobby): inline DB-backed RL (>=5 in 30s => 429), no helper or headers
  apps/web/src/app/api/lobby/messages/route.ts
Due: pnpm -C apps/web exec eslint --fix

docs(readme): resolve conflict (keep origin/main); fix(api/lobby): inline DB-backed RL
  README.md
Due: none

docs(readme): resolve conflict (keep origin/main); fix(api/lobby): inline DB-backed RL (#47)
  README.md
Due: none

Revert "docs(readme): resolve conflict (keep origin/main); fix(api/lobby): inline DB-backed RL (#47)"
  README.md
Due: none

Revert "fix(api/lobby): inline DB-backed RL (>=5 in 30s => 429), no helper or headers"
  apps/web/src/app/api/lobby/messages/route.ts
Due: pnpm -C apps/web exec eslint --fix

Revert "feat(rate-limit): centralize lobby RL + add RateLimit headers; keep DB-backed logic"
  apps/web/src/app/api/lobby/messages/route.ts
  apps/web/src/lib/ratelimit.ts
Due: pnpm -C apps/web exec eslint --fix

fix: remove 'any' in biomap & contacts client; drop unused disables; keep dynamic ABI import
  apps/web/src/__mocks__/supabaseServer.mock.ts
  apps/web/src/app/api/contacts/[address]/route.ts
  apps/web/src/app/api/contacts/route.test.ts
  apps/web/src/app/api/contacts/route.ts
  apps/web/src/app/contacts/route.ts
  apps/web/src/app/gate/page.tsx
  apps/web/src/components/ContactsList.tsx
  apps/web/src/lib/api/contacts.ts
  apps/web/src/lib/biomap.ts
  apps/web/src/middleware.ts
Due: pnpm -C apps/web exec eslint --fix

fix(api/contacts): Next15 typedRoutes — make route params Promise-based
  apps/web/src/app/api/contacts/[address]/route.ts
Due: pnpm -C apps/web exec eslint --fix

docs(readme): format with Prettier
  README.md
Due: none

chore: normalize line endings for .md (LF)
  .gitattributes
Due: none

fix(contacts): remove stray route.ts; add Contacts page with typedRoutes-safe searchParams
  apps/web/src/app/contacts/page.tsx
  apps/web/src/app/contacts/route.ts
Due: pnpm -C apps/web exec eslint --fix

fix(api/contacts): remove unused ts-expect-error; use delete().eq() order
  apps/web/src/app/api/contacts/[address]/route.ts
Due: pnpm -C apps/web exec eslint --fix

All fixes 15.08 (#51)
  .gitattributes
  apps/web/src/__mocks__/supabaseServer.mock.ts
  apps/web/src/app/api/contacts/[address]/route.ts
  apps/web/src/app/api/contacts/route.test.ts
  apps/web/src/app/api/contacts/route.ts
  apps/web/src/app/contacts/page.tsx
  apps/web/src/app/gate/page.tsx
  apps/web/src/components/ContactsList.tsx
  apps/web/src/lib/api/contacts.ts
  apps/web/src/lib/biomap.ts
  apps/web/src/middleware.ts
Due: pnpm -C apps/web exec eslint --fix

feat(biomap): export getSetNicknameConfig + inline minimal ABI; resolve ProfileRegistry via env/addresses; prep for AddressRouter
  apps/web/src/__mocks__/supabaseServer.mock.ts
  apps/web/src/app/api/contacts/[address]/route.ts
  apps/web/src/app/api/contacts/route.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/NicknameForm.tsx
  apps/web/src/env.ts
  apps/web/src/lib/biomap.ts
  apps/web/src/lib/humanode.ts
  apps/web/src/lib/supabase/server.ts
  apps/web/src/middleware.ts
  hardhat.config.js
  scripts/deploy_router.js
Due: pnpm -C apps/web exec eslint --fix

fix(ui): restore homepage nav + NicknameForm; disable middleware gating (no-op)
  apps/web/src/app/page.tsx
Due: pnpm -C apps/web exec eslint --fix

chore: wire ESLint for apps/web and lint-staged; feat(contacts): mock-aligned API + robust body parsing + DELETE owner check; ui: SidebarClient in layout; fix nickname ABI
  .lintstagedrc.json
  apps/web/.eslintrc.json
  apps/web/package.json
  apps/web/src/__tests__/contacts.delete.test.ts
  apps/web/src/app/(app)/layout.tsx
  apps/web/src/app/api/contacts/route.ts
  apps/web/src/components/SidebarClient.tsx
  apps/web/src/lib/nickname.ts
  pnpm-lock.yaml
Due: pnpm -C apps/web exec eslint --fix, pnpm -C apps/web exec prettier --write

chore(ci): format .lintstagedrc.json to satisfy Prettier check
  .lintstagedrc.json
Due: none

fix(contacts): restore well-formed route (GET/POST/DELETE); close brace + mock-aligned columns
  apps/web/src/app/api/contacts/route.ts
Due: pnpm -C apps/web exec eslint --fix

chore(ci): enforce LF EOL via .gitattributes + Prettier; normalize and format
  .gitattributes
  .prettierrc.json
Due: none

chore(ci): prettify .prettierrc.json & page.tsx; enforce LF for CI
  .prettierrc.json
  apps/web/src/app/page.tsx
Due: pnpm -C apps/web exec eslint --fix

chore: carry local working changes from dev onto feature/contacts-patch
  .gitattributes
  .husky/pre-commit
  .lintstagedrc.cjs
  .lintstagedrc.json
  .prettierrc.json
  apps/web/next.config.ts.bak
  apps/web/package.json
  apps/web/src/__mocks__/supabaseServer.mock.ts
  apps/web/src/__tests__/contacts.delete.test.ts
  apps/web/src/__tests__/contacts.patch.test.ts
  apps/web/src/app/api/chats/[id]/messages/route.ts
  apps/web/src/app/api/chats/dm/route.ts
  apps/web/src/app/api/chats/route.ts
  apps/web/src/app/api/contacts/[address]/route.ts
  apps/web/src/app/api/contacts/route.test.ts
  apps/web/src/app/api/contacts/route.ts
  apps/web/src/app/api/lobby/messages/route.ts
  apps/web/src/components/LobbyChat.tsx
  apps/web/src/components/Sidebar.tsx
  apps/web/src/components/SidebarClient.tsx
  apps/web/src/lib/api/chat.ts
  apps/web/src/lib/api/contacts.ts
  apps/web/src/lib/biomap.ts
  apps/web/src/lib/http.ts
  apps/web/src/lib/supabase/server.ts
  apps/web/src/lib/supabaseAdmin.ts
  apps/web/src/lib/supabaseClient.ts
  h -u origin main
  hardhat.config.js
  package.json
  pnpm-lock.yaml
  scripts/deploy_profile.js
Due: pnpm -C apps/web exec eslint --fix, pnpm -C apps/web exec prettier --write

chore: remove stray file committed by mistake
  h -u origin main
Due: none

feat(dm): POST /api/chats/dm returns canonical id; header/addr validation; Next15-safe headers()
  .husky/pre-commit
  .lintstagedrc.cjs
  apps/web/src/app/api/chats/dm/route.ts
Due: pnpm -C apps/web exec eslint --fix

chore(format): prettier .lintstagedrc.cjs and DM route to satisfy CI
  .lintstagedrc.cjs
  apps/web/src/app/api/chats/dm/route.ts
Due: pnpm -C apps/web exec eslint --fix

ui: TopBar with wallet + biomap badge; hooks/components; add format:write; format repo
  apps/web/src/app/(app)/layout.tsx
  apps/web/src/app/api/biomap/[address]/route.ts
  apps/web/src/components/AccountPill.tsx
  apps/web/src/components/BiomapBadge.tsx
  apps/web/src/components/MessageButton.tsx
  apps/web/src/components/TopBar.tsx
  apps/web/src/hooks/useBiomap.ts
  package.json
Due: pnpm -C apps/web exec eslint --fix

ui(topbar): de-dup import and render once in (app) layout
  apps/web/src/app/(app)/layout.tsx.bak
  apps/web/src/app/(app)/layout.tsx.bak.before-topbar-fix
  apps/web/src/app/(app)/layout.tsx.pre-topbar.bak
  apps/web/src/app/layout.tsx.bak
  apps/web/src/components/TopBar.tsx
Due: pnpm -C apps/web exec eslint --fix

chore(format): prettier fixes for layout + TopBar
  apps/web/src/app/(app)/layout.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/TopBar.tsx
Due: pnpm -C apps/web exec eslint --fix

Path conditions:
  pnpm -C apps/web exec eslint --fix: any of: apps/web/**/*.{js,jsx,ts,tsx}
  pnpm -C apps/web exec prettier --write: any of: apps/web/**/*.{json,md,yml,yaml,css}
